{% extends 'formy/home.html' %}
{% load static %}
{% load lib %}
{% block content %}
    <div class="card shadow p-3 mb-5 bg-white rounded mt-5">
        <div class="card-body ">
            <h1 class="d-flex justify-content-center">Form List</h1>

            <table id="form_list" class="table m-5">
                <thead>
                <tr>
                    <th scope="col">Form Id</th>
                    <th scope="col">Form Name</th>
                    <th scope="col"># Submissions</th>
                    <th scope="col">Submit Page</th>
                    <th scope="col">Submissions Page</th>
                </tr>
                </thead>
                <tbody>
                {% for form in forms %}
                    <tr>
                        <td>{{ form.id }}</td>
                        <td>{{ form.formname }}</td>
                        <td>{{ form.id|form_sumbitcount }}</td>
                        <td><a href="{% url 'form' form.id %}">View</a></td>
                        <td><a href="{% url 'viewform' form.id %}">View</a></td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock content %}